In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv("D:\Data_Sets\Brain Stroke.csv")

In [3]:
dataset

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
2,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
3,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
4,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,Male,41.0,0,0,No,Private,Rural,70.15,29.8,formerly smoked,0
4977,Male,40.0,0,0,Yes,Private,Urban,191.15,31.1,smokes,0
4978,Female,45.0,1,0,Yes,Govt_job,Rural,95.02,31.8,smokes,0
4979,Male,40.0,0,0,Yes,Private,Rural,83.94,30.0,smokes,0
4980,Female,80.0,1,0,Yes,Private,Urban,83.75,29.1,never smoked,0

In [4]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()

In [5]:
dataset["gender"]=lb.fit_transform(dataset["gender"])
dataset["ever_married"]=lb.fit_transform(dataset["ever_married"])
dataset["work_type"]=lb.fit_transform(dataset["work_type"])
dataset["Residence_type"]=lb.fit_transform(dataset["Residence_type"])
dataset["smoking_status"]=lb.fit_transform(dataset["smoking_status"])

In [6]:
dataset
# here in [gender] 1=Male and 0=female
# here in [ever_married] 1=yes and 0=no
# here in [work_type] 0=Govt_job, 1=private and 2=self_employed
# here in [Residence_type] 1=urban and 0=rural
# here in [smoking_status] 0= , 1=formarly_smoked, 2=never_smoked, 3=smokes

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,67.0,0,1,1,1,1,228.69,36.6,1,1
1,1,80.0,0,1,1,1,0,105.92,32.5,2,1
2,0,49.0,0,0,1,1,1,171.23,34.4,3,1
3,0,79.0,1,0,1,2,0,174.12,24.0,2,1
4,1,81.0,0,0,1,1,1,186.21,29.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...
4976,1,41.0,0,0,0,1,0,70.15,29.8,1,0
4977,1,40.0,0,0,1,1,1,191.15,31.1,3,0
4978,0,45.0,1,0,1,0,0,95.02,31.8,3,0
4979,1,40.0,0,0,1,1,0,83.94,30.0,3,0
4980,0,80.0,1,0,1,1,1,83.75,29.1,2,0

In [7]:
dataset["smoking_status"].value_counts()

2    1838
0    1500
1     867
3     776
Name: smoking_status, dtype: int64

In [9]:
x=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values

In [10]:
from sklearn.preprocessing import StandardScaler
lb=StandardScaler()
lb.fit_transform(x)

array([[ 1.18390850e+00,  1.04058433e+00, -3.26185770e-01, ...,
         2.72341090e+00,  1.19323816e+00, -3.53933192e-01],
       [ 1.18390850e+00,  1.61427033e+00, -3.26185770e-01, ...,
        -5.22766599e-04,  5.89389611e-01,  5.78839946e-01],
       [-8.44659868e-01,  2.46249882e-01, -3.26185770e-01, ...,
         1.44852918e+00,  8.69221866e-01,  1.51161308e+00],
       ...,
       [-8.44659868e-01,  6.97311148e-02,  3.06573766e+00, ...,
        -2.42364234e-01,  4.86293516e-01,  1.51161308e+00],
       [ 1.18390850e+00, -1.50917344e-01, -3.26185770e-01, ...,
        -4.88199415e-01,  2.21189274e-01,  1.51161308e+00],
       [-8.44659868e-01,  1.61427033e+00,  3.06573766e+00, ...,
        -4.92415000e-01,  8.86371531e-02,  5.78839946e-01]])

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=28,test_size=0.3)

In [12]:
from sklearn.linear_model import LogisticRegression
m=LogisticRegression()
m.fit(x_train,y_train)

C:\Users\manda\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [13]:
y_pred=m.predict(x_train)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [14]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_train)*100

95.3241537578887